<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Peachy</title>
</head>
<body>
    <header>
        <%- include('header') %>
    </header>

    <main>
        <div class="about">
        <h1>Детальніше про нас</h1>
        
            <p>Історія інтернет-магазину "peachy" почалася зі спраги до створення місця, де кожна жінка знайде не лише косметику, але й відчуття власної унікальності та краси. Після років ретельного планування та пошуку топ брендів ми відкрили віртуальні двері свого магазину, запрошуючи усіх бажаючих відчути себе часткою цієї естетичної гармонії, яка лежить в основі кожного продукту.
                <br />Основною задачею було створення справжнього раю для косметичних цінителів. Тут представлені різноманітні бренди з усього світу, кожен з яких - окрема історія успіху та інновацій.
                <br />Асортимент нашого інтернет-магазину вражає різноманіттям: від класичних відтінків до сміливих експериментів з кольорами та текстурами.
                
                <br />Магазин "peachy" став не лише місцем торгівлі, але й своєрідним мікрокосмосом краси, де кожна покупка - це подорож у світ стилю та елегантності. Тут збуваються бажання змінити світ своїм виглядом, створити новий образ або просто насолодитися якістю та красою продуктів. У кожному флаконі, тубі або коробці ховається частинка магії, яка допомагає кожній жінці відчути себе справжньою красунею.
                <br />
                <br />
                <br />Підкресли свою красу з Peachy - де кожен день - це новий розкішний образ!</p>
                
        </div>
        <div class="cont">
            <h2>Контакти</h1>
            <h3>meow@gmail.com</h3>
            <h3>+38 012 345 67 89</h3>
        </div>
    </main>
    <footer>
        <%- include('footer') %>
    </footer>
</body>
</html>
