<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peachy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="footerp">
        <div class="lined"></div>
            <div class="inrow">
            <div class="contact">
                <b>Ми в соціальних мережах</b>
                <br /><img src="/pic/facebook.png" alt="fb" /><img src="/pic/insta.png" alt="inst" /><img src="/pic/yt.png" alt="inst" />
            </div>

            <div class="info">
                <div> <b>Про нас</b>
                    <br /> 
                    <a href="/about">
                        Контакти
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
