<!DOCTYPE html>
<html>
<head>
    <title>Реєстрація</title>
</head>
<body>
    <header>
        <%- include('header') %>
    </header>

    <div class="reg1">
        <h1>Почни реєстрацію тут</h1>
        <% if (messages.error) { %>
            <strong><%= messages.error %></strong>
        <% } %>
        <div class="notcenter">
        <form action="/register" method="POST">
            <b><label for="username">Логін</label></b><br />
            <input type="text" name="username" placeholder="Username" required><br />
            <b><label for="username">Пароль</label></b><br />
            <input type="password" name="password" placeholder="Password" required><br />
            <button type="submit">Продовжити</button>
        </form>
         </div>
        <a href="/login">Вже маєш акаунт? Заходь</a>
    </div>


    
    <footer>
        <%- include('footer') %>
    </footer>
</body>
</html>
